.cart-header {
  position: relative;
  text-align: center;
  line-height: 44px;
  font-size: 22px;
}
.cart-safe {
  height: 33px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 33px;
}
.cart-safe p {
  display: inline-block;
  padding-left: 33px;
  background: url("../images/safe_icon.png") no-repeat 7px 7px;
  background-size: 18px 18px;
}
.cart-product {
  margin-top: 10px;
}
.cart-product .chk {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 20px;
  height: 20px;
  background-position: -180px -70px;
}
.cart-product .p-title {
  position: relative;
  height: 34px;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  padding-left: 34px;
  line-height: 32px;
  font-size: 12px;
  color: #ccc;
}
.cart-product .p-title .logo {
  width: 20px;
  height: 15px;
  margin-top: 8px;
  margin-right: 10px;
}
.cart-product .p-title .free {
  margin-right: 10px;
}
.cart-product .p-main .item {
  position: relative;
  height: 100px;
  border-bottom: 1px #ccc solid;
  padding-left: 34px;
}
.cart-product .p-main .item .content {
  height: 100px;
  padding: 10px;
}
.cart-product .p-main .item .content .detail {
  height: 80px;
  width: 80px;
  float: left;
}
.cart-product .p-main .item .content .info {
  height: 100%;
  overflow: hidden;
  padding: 0 10px;
}
.cart-product .p-main .item .content .info .text {
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}
.cart-product .p-main .item .content .info .option {
  margin-top: 15px;
}
.cart-product .p-main .item .content .info .option .num > * {
  float: left;
  width: 36px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 28px;
  color: #999;
  cursor: pointer;
}
.cart-product .p-main .item .content .info .option .num input {
  border-left: none;
  border-right: none;
}
.cart-product .p-main .item .content .info .option .del {
  width: 18px;
  height: 22px;
  cursor: pointer;
}
.cart-product .p-main .item .content .info .option .del .del-up {
  float: left;
  width: 18px;
  height: 4px;
  background: url("../images/delete_up.png") no-repeat;
  background-size: 18px 4px;
  transition: transform 0.5s;
  transform-origin: right center;
}
.cart-product .p-main .item .content .info .option .del .del-down {
  float: left;
  width: 18px;
  height: 18px;
  background: url("../images/delete_down.png") no-repeat;
  background-size: 100% 100%;
  margin-top: -2px;
}
.cart-product .p-main .item .content .info .option .open .del-up {
  transform: rotate(30deg);
}
.win-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}
.win-box .del-box {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.win-box .del-box p {
  font-size: 20px;
  line-height: 80px;
  border-bottom: 1px solid #ccc;
}
.win-box .del-box .btn-box {
  padding: 10px;
}
.win-box .del-box .btn-box a {
  width: 46%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  line-height: 38px;
}
.win-box .del-box .btn-box .btn-ok {
  background-color: red;
  color: #fff;
}
