.jd-header {
  position: fixed;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 40px;
  background-color: rgba(222, 24, 27, 0);
  padding: 0 50px 0 75px;
  z-index: 99;
}
.jd-header form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px 0;
}
.jd-header form input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 40px;
}
.jd-header form .search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-position: -60px -110px;
}
.jd-header .logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 56px;
  height: 21px;
  background-position: 0 -109px;
}
.jd-header .login {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.jd-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.jd-banner ul {
  width: 1000%;
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
}
.jd-banner ul li {
  width: 10%;
  float: left;
}
.jd-banner ul li img {
  width: 100%;
}
.jd-banner ol {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.jd-banner ol li {
  float: left;
  width: 8px;
  height: 8px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.jd-banner ol li.current {
  background-color: #fff;
}
.jd-nav ul li {
  text-align: center;
  float: left;
  width: 20%;
  margin-bottom: 20px;
}
.jd-nav ul li img {
  width: 40px;
}
.jd-news {
  position: relative;
  height: 30px;
  background-color: #eee;
  padding: 0 50px 0 75px;
}
.jd-news .news-title {
  width: 73px;
  position: absolute;
  left: 0px;
  top: 7px;
}
.jd-news .more {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.jd-news .cut {
  height: 30px;
  overflow: hidden;
}
.jd-news .cut ul li {
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
}
.jd-sk .sk-title {
  height: 30px;
  line-height: 30px;
  background-color: #fff;
}
.jd-sk .sk-title .logo {
  width: 20px;
  height: 21px;
  background-position: -83px -110px;
  margin-top: 4px;
}
.jd-sk .sk-title .text {
  color: #f23030;
  margin: 0 10px;
}
.jd-sk .sk-title .time {
  margin-top: 6px;
}
.jd-sk .sk-title .time span {
  float: left;
  width: 18px;
  height: 18px;
  background-color: #000;
  margin: 0 3px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 18px;
}
.jd-sk .sk-title .time span:nth-child(even) {
  background-color: transparent;
  width: 3px;
  color: #000;
  margin: 0;
}
.jd-sk .sk-title .more {
  color: #ccc;
}
.jd-sk .sk-main {
  height: 120px;
  padding-top: 5px;
  overflow: auto;
}
.jd-sk .sk-main ul {
  width: 880px;
}
.jd-sk .sk-main ul li {
  float: left;
  width: 88px;
  text-align: center;
  border-right: 1px solid #ccc;
}
.jd-sk .sk-main ul a img {
  width: 70%;
}
.jd-sk .sk-main ul a p {
  line-height: 16px;
}
.jd-sk .sk-main ul a p:nth-child(2) {
  color: #f23030;
  font-weight: 700;
}
.jd-sk .sk-main ul a p:nth-child(3) {
  text-decoration: line-through;
  color: #ccc;
}
.jd-major a {
  float: left;
  width: 33.33%;
}
.jd-major a img {
  width: 100%;
}
.jd-product ul li a {
  width: 50%;
  float: left;
}
.jd-product ul li a img {
  width: 100%;
}
.jd-product ul li:nth-child(1) a {
  width: 33.3%;
}
.jd-product ul li:nth-child(1) a img {
  width: 100%;
}
